# build outputs
build

# generated grpc and protobuf files
protos/*.pb.cc
protos/*.pb.h
protos/*.grpc.pb.cc
protos/*.grpc.pb.h
src/controller/hpcfs_bench_pb2.py
src/controller/hpcfs_bench_pb2_grpc.py

# VS Code
.vscode

# Python Environment
.venv

# Python Caches
*/__pycache__/
*/.ipynb_checkpoints/

# macOS
.DS_Store
DS_Store